<section>

    <div class="page-header">
  	<h1>Bem Vindos</small></h1>
    </div>
 
    <div class="slide-animate" ng-include src="'views/facebook.html'"></div>

<!--    
	<div class="col-sm-3">
		<div class="fb-like" onrender="widget.rendered = true" data-href="https://www.facebook.com/pages/Transpar%C3%AAncia-SJC/436813019726917?ref=br_tf" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
	</div>
-->

   <div class="panel panel-primary">
   	<div class="panel-heading">
   		<a href="#/leis">Projetos de lei</a>
   	</div>
	<div class="panel-body">
	   descrição . . . 
	</div>
   </div>
   
   <div class="panel panel-primary">
   	<div class="panel-heading">
   		<a href="#/politicos">Perfis de políticos</a>
   	</div>
	<div class="panel-body">
	   descrição . . . 
	</div>
   </div>
<!--  
    <h1>
        <a href="#/leis">Projetos de lei</a>
    </h1>

    <h1>
        <a href="#/politicos">Perfis de políticos</a>
    </h1>
 -->
</section>
