<section>
    <div ng-model="laws">
        <a href="#/details/{{prevItem}}" >&lt;</a>
        <a href="#/details/{{nextItem}}" >&gt;</a>

        <h1>{{ laws[whichItem].author }}</h1>

        <div>
            <h3>{{ laws[whichItem].name }}</h3>
            <h3>{{ laws[whichItem].date.plain }}</h3>

            <div>{{ laws[whichItem].description }}</div>
            <div>{{ laws[whichItem].completeBody }}</div>
        </div>
    </div>
    <a href="index.html">&laquo; Voltar para leis</a>
</section>