<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h1 class="modal-title">Transparência Hacker SJC</h1>
      </div>
      <div class="modal-body">

        <div align="center">
          <a href="http://transparenciasjc.github.io/" target="_blank">
            <img src="img/logo-transparencia-sjc.svg"> 
          </a>
        </div>

        <a href="http://transparenciasjc.github.io/" target="_blank">
          <h3>Conheça o nosso trabalho!</h3>
        </a>

        <p>
          Somos um grupo de estudantes e programadores que querem usar o conhecimento em programação para transformar a realidade da política
        </p>

        <p>O objetivo deste portal é fazer com que SJC seja referência em inovação e tecnologia em relação aos aplicativos de democracia e dados abertos. Lutamos para que as informações geradas pela prefeitura sejam dispostas em formato aberto para que inovadoras soluções possam ser desenvolvidas. 
        </p>

        <p>Criamos soluções de tecnologia da informação para ajudar no desenvolvimento de políticas públicas mais claras e participavas.</p>

        <p>Este é um passo importante para a nossa política atual, queremos aproximar o poder público do cidadão para que juntos possamos criar soluções para os problemas da cidade.</p>

        <a href="http://transparenciasjc.github.io/" target="_blank">
          <h3>Acesse nosso blog e veja a importância dos dados abertos.</h3>
        </a>


<!--
        <h1>Sobre dados abertos:</h1>

        <p>Para a maior parte dos cidadãos brasileiros, dados e informações governamentais possuem o mesmo significado. Já para pesquisadores, universitários, jornalistas, empresários e pessoas ligadas à Tecnologia da Informação (TI), a diferença é enorme, pois nem sempre as informações podem ser lidas por uma máquina, por exemplo. Ao publicar seus dados em formato aberto, o governo permite o livre cruzamento, reutilização e redistribuição, o que gera uma nova forma de participação social e pode beneficiar milhões de brasileiros.</p>

        <p>Várias cidades atualmente não utilizam todo o potencial dos seus bancos de dados. As cidades têm acumulado muitas informações relevantes, mas que armazenadas de forma isolada e distantes da população, dificultam sua interpretação e aproveitamento por estudiosos, especialistas e interessados.</p>

        <p>Esses dados têm potencial de originar soluções importantes para as cidades.  Podem gerar informações ocultas, novas leituras sobre dados preexistentes, ter sua interpretação facilitada para leigos e cidadãos comuns, além de poderem auxiliar as ações do poder público e de planejadores.</p>
-->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>