<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<span class="glyphicon-big glyphicon glyphicon-search"></span>
			<h2>Monitor Legislativo</h2>
			<p>Quantos projetos de lei os vereadores fizeram durante determinado período? Quantos desses projetos foram nomes de rua e/ou datas comemorativas? Quais projetos tiveram relevância na sociedade? Estas são agumas perguntas que pretendemos responder com o monitor legislativo de São José dos Campos</p>
			<p><a class="btn btn-default" href="#" role="button">Detalhes dos Autores &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<span class="glyphicon-big glyphicon glyphicon-pencil"></span>
			<h2>Leis</h2>
			<p>Pesquise por projetos de lei, veja os detalhes completos e fique por dentro de quais foram os projetos de leis criados pelos vereadores.</p>
			<p><a class="btn btn-default" href="#/leis" role="button">Acesse as leis &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<span class="glyphicon-big glyphicon glyphicon-user"></span>
			<h2>Políticos</h2>
			<p>Aqui você tem os detalhes completos de cada um dos vereadores. Você pode ver estatísticas simples sobre a quantidade de projetos criados por cada um deles, bem como a timeline de projetos durante o ano.</p>
			<p><a class="btn btn-default" href="#/politicos" role="button">Veja os perfis dos políticos &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
</div>
