<div ng-include src="'views/base/navbar.html'"></div>
<div ng-include src="'views/base/caroussel.html'"></div>
<div ng-include src="'views/facebook.html'"></div>
<div ng-include src="'views/base/featurettes.html'"></div>


<!--
<div class="row">

  <div class="col-md-8">

    <div class="page-header">
      <h1>Bem Vindos</small></h1>
    </div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h4><a href="#/leis">Projetos de Lei</a></h4>
  </div>
  <div class="panel-body">
    <p>Aqui você irá encontrar todos os projetos de Leis propostos pelos políticos!</p>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h4><a href="#/politicos">Perfis dos Políticos</a></h4>
  </div>
  <div class="panel-body">
    <p>Aqui, temos o perfil deles!</p>
  </div>
</div>
</div>
<div class="col-md-4"></div>
</div>

-->