<div class="row-centered">
    <h3>Desenvolvedores</h3>
    <div class="row">
        <div class="col-xs-2 col-centered">
            <a href="http://github.com/pauloluan" target="_blank">
                <img class="photo img-circle img-responsive" src="img/luan.jpg" alt="Paulo Luan" itemprop="image">
                <p>Paulo Luan</p>
            </a>
        </div>
        <div class="col-xs-2 col-centered">
            <a href="https://github.com/pedro-hos" target="_blank">
                <img class="photo img-circle img-responsive" src="img/pedro.jpg" alt="Pedro Henrique Oliveira" itemprop="image">
                <p>Pedro Hos</p>
            </a>
        </div>
        <!--
        <div class="col-xs-2 col-centered">
            <a href="https://github.com/jesuino" target="_blank">
                <img class="photo img-circle img-responsive" src="img/william.png" alt="William Siqueira" itemprop="image">
                <p>William Siqueira</p>
            </a>
        </div>
        -->
    </div>
</div>